
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav-bar h1 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 2px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}


main {
    padding: 30px;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
}

.first-letter {
    font-weight: bold;
    color: red;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .nav-bar h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .intro p {
        font-size: 1em;
    }
}
