/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    color: #2c3e50;
}

nav a {
    text-decoration: none;
    color: #e74c3c;
    font-size: 18px;
    margin-top: 20px;
    display: block;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #7f8c8d;
}


.characters {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.character-card {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.character-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.character-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.character-card p {
    font-size: 16px;
    color: #34495e;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c9c0bf;
    color: #830909;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #741a1a;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .characters {
        grid-template-columns: 1fr;
    }
}